.consumption-card {
    margin-left: 50px;
    width: 300px;
    height: 300px;
    background-color: rgb(112, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.consumption-name {
    color: rgb(0, 0, 0);
}

.delete-consumption-btn {
    width: 200px;
    height: 40px;
    background-color: #424242;
    color: white;
}

.delete-consumption-btn:hover {
    background-color: #d86666;
}

.delete-consumption-wrapper {
    display: flex;
    justify-content: center;
}

.update-consumption-btn {
    background-color: #414141;
    width: fit-content;
    height: 32px;
    color: white;
}

.consumption-id {
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}
.consumption-date {
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.consumption-servings {
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}