.top-container{
    width: 100vw;
    height: 50%;
    margin-left: 80px;
}

.title {
    margin-left: 58px;
    text-decoration: underline;
    font-size: 35px;
}


.consumption-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
}

